

/* Fonts */

body{
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

/*HEADER*/

#header{
    position: relative;
    min-height: 100vh;
}


/*NavBar*/

.navbar-container{
    /*position: absolute;
    top: 20%;
    right: 0;*/
    padding-right: 0;
    text-align: right;
    z-index: 1;
}

.navbar{
    width: 100%;
}

.navbar .navbar-toggler{
    background-color: white;
    border: 0;
}


.navbar .navbar-nav li{
    float: right;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    padding: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar-nav li{
    text-align: right;
    padding: 0;
    margin: 0;
    }
}



.header-line{
    margin-top: 0;    
    border: 2px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}