
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:300,300i,400,400i&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    color: black;
}

*{
  margin: 0;
  padding:0;
}


/*Titles*/

.title{
    font-family: 'Roboto Mono', monospace;
    /*font-size: 3.052em;*/
    font-size: 280%;
    font-weight: 400;
    font-style: normal;
}

.slogan{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 110%;
}

.subtitle{
    font-family: 'Roboto Mono', monospace;
    /*font-size: 3.052em;*/
    font-size: 250%;
    font-weight: 400;
    font-style: normal;

}

/*HEADER*/

.img-logo{
    width: 100%;
    height: auto;
}

.header-line{
    margin-top: 0;    
    border: 2px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*NavBar*/

.navbar-container{
    /*position: absolute;
    top: 20%;
    right: 0;*/
    padding-right: 0;
    text-align: right;
    z-index: 1;
}

.navbar{
    width: 100%;
}

.navbar .navbar-toggler{
    background-color: white;
    border: 0;
}


.navbar .navbar-nav li{
    float: right;
    text-decoration: none;
    font-size: 15px;
    padding: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
/* For mobile phones */
  .navbar .navbar-nav li{
    text-align: right;
    padding: 0;
    margin: 0;
    }
}


/*Header-Content*/

.header-content{
    padding: 5px;
    position: relative;
}

.header-img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.img-button-container{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 60%;
    height: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    font-size: 16px;
    padding: 5px;
}

.img-button-text{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    margin: 0;
    letter-spacing: 2px;
    font-style: normal;
}

.img-button-link{
    margin: 0;
    color: black;
    text-decoration: underline;
    vertical-align: top;
}

/* Stones */

#stones{
    margin-top: 10px;
}

.stones-text{
    width: 100%;
    height: auto;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
/* For mobile phones */
.stones-text{
    width: 100%;
    height: auto;
    font-size: 10px;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-weight: 400;
    }
}


.stones-img{
    width: 100%;
    height: auto;
}

.stones-img-button-container{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 60%;
    height: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    font-size: 16px;
    padding: 5px;
}